
html {
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
}
*,
*:before,
*:after {
	/* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing: border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
table {
	border-spacing: 0;
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after {
	content: "";
}
blockquote {
	quotes: "" "";
}
q {
	quotes: "“" "”" "‘" "’";
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}
body {
	overflow-x: hidden;
	font-family: "Lato", Helvetica, sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
	text-align: center;
}

/*body {
	overflow-x: hidden;
	color: #808080;
	font-family: "Lato", Helvetica, sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
	text-align: center;
}*/

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* Other fixes*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
i {
	vertical-align: middle;
}
ul,
ol {
	padding-left: 0 !important;
}

/* Selection colours (easy to forget) */
::selection {
	color: #fff;
	background: #fc6d6d;
}
::-moz-selection {
	color: #fff;
	background: #fc6d6d;
}
a {
	color: #e96656;
	-webkit-transition: all 700ms;
	transition: all 700ms;
}
a,
a:hover {
	text-decoration: none;
}
a:hover {
	color: #cb4332;
}
p {
	margin: 0;
}
.full-width {
	width: 100%;
	margin: auto;
}

/* do not group these rules (placeholder colors) */
*::-webkit-input-placeholder {
	color: #999 !important;
	opacity: 1 !important;
}
*:-moz-placeholder {
	color: #999 !important;
	opacity: 1 !important;
}
*::-moz-placeholder {
	color: #999 !important;
	opacity: 1 !important;
}
*:-ms-input-placeholder {
	color: #999 !important;
	opacity: 1 !important;
}
